**/.terraform/
**/*.tfstate
**/*.tfstate.*
crash.log

# Terraform plans / vars (local)
**/tfplan
**/*.tfplan
**/terraform.tfvars
**/*.tfvars

infra/modules/api-lambda-http/*.zip
website/config.json
deply-dev.ps1