services:
  kafka:
    image: bitnami/kafka:3.6
    container_name: kafka
    ports:
      - 9092:9092
    networks:
      - demo

  consumer:
    image: node:20-alpine
    container_name: consumer
    networks:
      - demo
    working_dir: /app
    volumes:
      - ./consumer:/app

networks:
  demo:
    driver: bridge
