services:
  kafka:
    image: bitnami/kafka:3.6
    container_name: kafka
    ports:
      - 9092:9092
    networks:
      - demo

  consumer:
    build:
      context: ./consumer
      dockerfile: Dockerfile
    container_name: consumer
    environment:
      - KAFKA_BROKER_URL=kafka:9092
      - KAFKA_TOPIC=demo-topic
      - KAFKA_CONSUMER_GROUP=demo-consumer-group
    networks:
      - demo

networks:
  demo:
    driver: bridge
